.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: #222;
  padding: 15px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color: #888;
  font-weight: bold;
  transition: 0.3s;
}

.nav-link:hover {
  color: #646cff;
}